.required {
  color: red;
}

.product-form {
  display: flex;
  flex-direction: column;
}

.invalid {
  border: 1px solid red;
}

h1 {
  text-align: center;
  margin-top: 0;
}
.character-form {
  display: flex;
  flex-direction: column;
  height: 90%;
  text-align: right;
}
.character-form-top {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  height: 250px;
}
/* .character-form-top > div {
  flex: 1;
} */

.character-form-top > .character-container {
  height: 100%;
  width: 25%;

  align-items: center;
  justify-content: center;
}
.form-column-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.form-column-center-left,
.form-column-center-right {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.character-form-right {
  display: flex;
  height: 100%;
  width: 25%;
  justify-content: center;
  justify-content: space-around;
}

.ability-score-input {
  height: 40px;
  width: 40px;
}

.column-left-physical {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.column-right-mental {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.column-right-mental > div,
.column-left-physical > div {
  text-align: center;
}

label,
input,
select {
  display: flex;
  width: 10rem;
}
.description-container {
  width: 100%;
  height: 50%;
  background-color: white;
  display: flex;
  margin-bottom: 20px;
}
.add-edit-character-form-container {
  height: 100%;
}

button {
  margin-top: 10px;
  width: 25%;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.race-description,
.class-description,
.background-description {
  white-space: pre-line;
  text-align: left;
}
