nav {
  border: black 1px solid;
  display: flex;
  justify-content: space-evenly;
  background-color: #c4c4c4;
}
.home-nav {
  color: darkblue;
  text-decoration: none;
}
.character-nav {
  color: darkred;
  text-decoration: none;
}
.world-nav {
  color: darkgoldenrod;
  text-decoration: none;
}
